.widget{
    min-height: 100px;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.15);
    margin: 5px 0;
}
.card{
    margin: 10px 0;
}
monaco-editor { height: 350px; display:block; }
label{color: rgb(50, 50, 50); font-weight: 600}