<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Haitch CMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        Sobre
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenças
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Feito com ♥
            <a href="hdbr.co" target="_blank">HDBR</a> por uma web melhor.
        </div>
    </div>
</footer>