<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 mr-auto">


                <h3 class="col-md-12">{{title}}</h3>
                <h3 class="col-md-12">{{downloadURL | async}}</h3>
                <form>
                    <div class="form-group col-md-6">
                        <label for="title">Título</label>
                        <input type="text" class="form-control" id="title" required [(ngModel)]="postTitle" [ngModelOptions]="{standalone: true}">
                    </div>
                    <textarea id="content-area" class="form-group col-lg-12" [froalaEditor]="froalaOptions" [(ngModel)]="content" required [ngModelOptions]="{standalone: true}"></textarea>

                    <button type="submit" (click)="savePost()" class="btn btn-success">Salvar</button>

                </form>


            </div>
            <div class="col-lg-3 mr-auto ">

                <div class="row side-panel">
                    <div class="col-md-12">

                        <h6>Categorias</h6>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nova Categoria" aria-label="Nova Categoria">
                            <div class="input-group-append">
                                <button class="btn btn-success btn-sm" type="button">add</button>
                            </div>
                        </div>
                        <ul id="categories-panel">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox">
                                        <span class="form-check-sign ">
                                            <span class="check text-danger"></span>
                                        </span>
                                        Tags 2
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row side-panel">
                    <div class="col-md-12">

                        <h6>Tags</h6>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nova Categoria" aria-label="Nova Categoria">
                            <div class="input-group-append">
                                <button class="btn btn-success btn-sm" type="button">add</button>
                            </div>
                        </div>
                        <ul id="tags-panel">

                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox">
                                        <span class="form-check-sign ">
                                            <span class="check text-danger"></span>
                                        </span>
                                        Tag 1
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row side-panel">
                    <div class="col-md-12">

                        <h6>Thumbnail</h6>
                        <ul>
                            <li>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <!--  -->
                                        <input type="file" accept="image/*" (change)="fileChanged($event)" class="custom-file-input btn " id="inputGroupFile">
                                        <label class="custom-file-label" for="inputGroupFile">Escolher</label>
                                    </div>
                                    <!-- <div class="input-group-append">
                                        <button class="btn btn-outline-success btn-sm" type="button">Enviar</button>
                                    </div> -->
                                </div>
                            </li>
                        </ul>
                        <progress max="100" *ngIf="uploading" class="progress-bar bg-warning" [value]="(uploadPercent | async)">0%</progress>
                        <h3><i *ngIf="uploadComplete" class="material-icons mr-auto">checkmark</i></h3>
                        <div class="result" *ngIf="thumbURL">
                            <img class="thumbnail" [src]="thumbURL" target="_blank">
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>