.col-md-12,
.col-md-8,
.col-md-6 {
    margin: 5px;
}

ul {
    list-style: none;
    padding: 10px;
    li {
        margin-bottom: 5px;
    }
}

.side-panel {
    background: rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 5px
}

.custom-file-input~.custom-file-label::after {
    content: none;
}

.custom-file {
    cursor: pointer;
    input {
        cursor: pointer;
    }
}

.thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 3px;
}

.progress-bar {
    width: 100%;
    margin-bottom: 10px;
}

#tags-panel,
#categories-panel {
    max-height: 300px;
    overflow-y: scroll !important;
    width: 100%;
}

.delete-button {
    display: none;
    float: right !important;
    background: #f44336;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10pt;
}

.form-check:hover {
    .delete-button {
        display: block;
    }
}