<div *ngIf="imageUploading" class="overlay-loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-9 mr-auto">

                <!-- <pre>Categories id: {{postCategories}} <br></pre> -->
                <h3 class="col-md-12">{{title}}</h3>
                <h3 class="col-md-12">{{downloadURL | async}}</h3>
                <form>
                    <div class="form-group col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="postTitle" [ngModelOptions]="{standalone: true}" placeholder="Título">
                        </mat-form-field>
                        <!-- <label for="title">Título</label>
                        <input type="text" class="form-control" id="title" required > -->
                    </div>

                    <textarea id="content-area" class="form-group col-lg-12" [froalaEditor]="options" [(froalaModel)]="twoWayContent" [(ngModel)]="content"
                        required [ngModelOptions]="{standalone: true}"></textarea>


                    <button type="submit" (click)="savePost()" class="btn btn-success">Salvar</button>

                </form>


            </div>
            <div class="col-lg-3 mr-auto ">

                    <mat-card class="row side-panel">
                        <div class="col-md-12">
                            <h6>Categorias</h6>
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" [(ngModel)]="newCategory" [ngModelOptions]="{standalone: true}" required placeholder="Nova Categoria"
                                        aria-label="Nova Categoria">
                                    <div class="input-group-append">
                                        <button class="btn btn-success btn-sm" (click)="saveCategory()" type="submit">add</button>
                                    </div>
                                </div>
                            </form>
                            <form [formGroup]="catForm">
    
                                <ul id="categories-panel">
                                    <li *ngFor="let category of dbCategories | async">
                                        <div *ngIf="(category.cat_active)" class="form-check">
                                            <mat-checkbox (change)="onCatChange(category.cat_id, $event.checked)" [checked]="checkCategory(category.cat_id)" type="checkbox">
                                                {{category.cat_name}}
                                            </mat-checkbox>
                                            <i (click)="deleteCategory(category)" class="material-icons mr-auto delete-button">close</i>
                                        </div>
                                    </li>
    
                                    <!-- <li *ngIf="(categories|async)">Nenhuma categoria cadastrada</li> -->
                                </ul>
                            </form>
                        </div>
    
                    </mat-card>
                    <mat-card class="row side-panel">
                        <div class="col-md-12">
    
                            <h6>Tags</h6>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nova Categoria" aria-label="Nova Categoria">
                                <div class="input-group-append">
                                    <button class="" type="button">add</button>
                                </div>
                            </div>
                            <ul id="tags-panel">
    
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign ">
                                                <span class="check text-danger"></span>
                                            </span>
                                            Tag 1
                                        </label>
                                    </div>
                                </li>
    
                            </ul>
                        </div>
                    </mat-card>
                    <mat-card class="row side-panel">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <mat-icon>insert_photo</mat-icon>
    
                            </div>
                            <mat-card-title>Thumbnail</mat-card-title>
                            <mat-card-subtitle>Envie a imagem de capa do seu post</mat-card-subtitle>
                        </mat-card-header>
    
                        <mat-card-content>
                            <ul>
                                <li>
                                    <button mat-raised-button type="button" md-button (click)="imgFileInput.click()">Selecionar</button>
                                    <button mat-icon-button *ngIf="uploadComplete" disabled>
                                        <mat-icon style="color: rgb(34, 134, 34)">checkmark</mat-icon>
                                    </button>
    
                                    <input hidden type="file" #imgFileInput accept="image/*" (change)="fileChanged($event)">
                                </li>
                                <li *ngIf="uploading">
                                    <mat-progress-bar mode="determinate" [value]="(uploadPercent | async)"></mat-progress-bar>
                                </li>
                            </ul>
                            <div class="result" *ngIf="thumbURL">
                                <img class="thumbnail" [src]="thumbURL" target="_blank">
                            </div>
                        </mat-card-content>
    
                        <!-- <progress   class="progress-bar bg-warning" >0%</progress> -->
    
                    </mat-card>
    
    
    
                </div>
        </div>

    </div>
</div>