mat-progress-spinner{
    position: relative;
    right: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
}
mat-card-title{
    color: black !important;
    font-weight: 800

}
.button-row button,
.button-row a {
  margin-right: 8px;
}
.button-row{
    margin-bottom: 8px;
}