.add {
    height: auto ;
    width: 100%;
    //background: rgba(0, 0, 0, 0.25);
    color: white;
    i{
        margin: auto;
        font-size: 20pt;
    }
}
.card-body{
    transition: 1s;
    min-height: 100px;
}
.manage-hover-buttons{
    display: none;
    border-radius: 3px;
    
    background: #ffffff00;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    
}
.widget:hover, .menu-item:hover{
    .manage-hover-buttons{
        display: block;

    }
}
.manage-buttons{
    i{
        cursor: pointer;
        transition: .25s;
    }
    i:hover{
        transition: .25s;
        color: rgb(0, 0, 0);
        text-shadow: 0 3px 4px #00000026;
    }
    border-radius: 3px;
    position: absolute;
    right: 10px;
    color: white;
    top: 10px;
}
.menu-item{
    //padding: 10px;
    h4{
        margin: 10px;
        font-weight: 600;
    }
}
.menu-item:hover{
    cursor: -webkit-grab;
}
.menu-item:active{
    cursor: -webkit-grabbing;
}
.mat-card {
    margin: 15px 0;
}
.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 15px;
}
h4{
    font-weight: 800;
}